@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Orange: "#FF5500",
        paleOrange: "#FED6C6",
        veryDarkBlue: "#1B1E34",
        darkGrayishBlue: "#3B426A",
        grayishBlue: "#A0AFC0",
        lightGrayishBlue: "#F0F5FC", */
