@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #Previewer {
    @apply absolute top-0 left-0 flex justify-center items-center;
    @apply h-screen overflow-auto w-full;
    @apply bg-blackLightbox;
  }
}

/* input[type="radio"]:checked + label > div {
  border: 3px solid orange;
  border-radius: 10px;
  background-color: rgb(225 218 218 / 64%);
} */
